{{- if isset .Site.Params "giscus" -}}
  {{- if and
    (isset .Site.Params.giscus "repo")
    (not (eq .Site.Params.giscus.repo ""))
    (eq (.Params.disableComments | default false) false)
  -}}

    {{- $giscusLang := .Site.Language.Lang -}}

    {{- if hasPrefix $giscusLang "es" -}}
      {{- $giscusLang = "es" -}}
    {{- else if hasPrefix $giscusLang "en" -}}
      {{- $giscusLang = "en" -}}
    {{- else -}}
      {{- $giscusLang = "en" -}}
    {{- end -}}

    <div class="comments">
      <script>
        let getTheme =
          window.localStorage &&
          window.localStorage.getItem("colorscheme");

        getTheme =
          getTheme == null
            ? '{{ $.Site.Params.giscus.theme }}'
            : getTheme;

        const script = document.createElement('script');

        script.src = 'https://giscus.app/client.js';

        script.setAttribute(
          'data-repo',
          '{{ .Site.Params.giscus.repo }}'
        );

        script.setAttribute(
          'data-repo-id',
          '{{ .Site.Params.giscus.repoID }}'
        );

        script.setAttribute(
          'data-category',
          '{{ .Site.Params.giscus.category }}'
        );

        script.setAttribute(
          'data-category-id',
          '{{ .Site.Params.giscus.categoryID }}'
        );

        script.setAttribute(
          'data-mapping',
          '{{ default "pathname" .Site.Params.giscus.mapping }}'
        );

        script.setAttribute(
          'data-term',
          '{{ .Site.Params.giscus.term }}'
        );

        script.setAttribute(
          'data-strict',
          '{{ default "0" .Site.Params.giscus.strict }}'
        );

        script.setAttribute(
          'data-reactions-enabled',
          '{{ default "1" .Site.Params.giscus.reactionsEnabled }}'
        );

        script.setAttribute(
          'data-emit-metadata',
          '{{ default "0" .Site.Params.giscus.emitMetadata }}'
        );

        script.setAttribute(
          'data-input-position',
          '{{ default "bottom" .Site.Params.giscus.inputPosition }}'
        );

        script.setAttribute('data-theme', getTheme);

        script.setAttribute(
          'data-lang',
          '{{ $giscusLang }}'
        );

        script.setAttribute(
          'data-loading',
          '{{ default "lazy" .Site.Params.giscus.loading }}'
        );

        script.setAttribute('crossorigin', 'anonymous');
        script.setAttribute('async', '');

        const comments = document.querySelector('div.comments');

        comments.innerHTML = '';
        comments.appendChild(script);
      </script>
    </div>
  {{- end -}}
{{- end -}}